{% extends 'tournament/base.html' %}

{% block title %}Список турниров{% endblock %}


{% block content %}
<section class="registration-form">
        <div class="container">
            <h1>Список турниров</h1>
            <ul class="tournament-list">
                {% for tournament in tournaments %}
                    <li class="tournament-item">
                        <div>
                            <h2>{{ tournament.name }}</h2>
                            <p>Начало: {{ tournament.start_date }}</p>
                            <p>Конец: {{ tournament.end_date }}</p>
                        </div>
                    {% if request.user.role == 'admin' %}
                        {% if not tournament.is_close_for_register %}
                            <a href="{% url 'open_close_register_tournament' tournament.id %}" class="register-button">Закрыть регистрацию</a>
                        {% else %}
                            <a href="{% url 'open_close_register_tournament' tournament.id %}" class="register-button">Открыть регистрацию</a>
                        {% endif %}
                    {% else %}
                        {% if tournament.is_close_for_register %}
                        <strong>Регистрация на турнир закрыта</strong>
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'tournament_detail' tournament.id %}" class="register-button">Детали турнира</a>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}

